
      <div class="view">
        <img src="../../assets/download (1).jpg"  class="imgstyle" alt="Dental Clinic">
        <div>
            <h3 class="black-text imageabovetextstyle"> OUR CURRENT VACANCIES LIST</h3>
          <p class="black-text imagetextstyle">A dentist, also known as a dental surgeon, is a surgeon who specializes in dentistry, the diagnosis, prevention, and treatment of diseases and conditions of the oral cavity.Best Doctors: Connect with the Best Dentists in the country to get accurate diagnosis and the best possible treatment options for your condition. 
            No wait time: You do not have gives you the convenience of accessing it from just about anywhere and at any time.</p>
        </div>
      </div>
      <div class="container">
          <h3 class="text">DENTIST</h3>
    <div class="row">
    <div class="col-md-3" *ngFor="let x of cardDetails">
            <div class="view overlay">
              <img class="card-img-top" src="{{x.img}}"
                alt="Card image cap">
            </div>
    </div>
            <div class="col-md-9">
                <p class="paragraphstyle">A dentist, also known as a dental surgeon, is a surgeon who specializes in dentistry, the diagnosis, prevention, and treatment of diseases and conditions of the oral cavity.Best Doctors: Connect with the Best Dentists in the country to get accurate diagnosis and the best possible treatment options for your condition. 
                    No wait time: You do not have gives you the convenience of accessing it from just about anywhere and at any time A dentist, also known as a dental surgeon, is a surgeon who specializes in dentistry, the diagnosis, prevention, and treatment of diseases and conditions of the oral cavity.Best Doctors: Connect with the Best Dentists in the country to get accurate diagnosis and the best possible treatment options for your condition. 
                    No wait time: You do not have gives you the convenience of accessing</p>
            </div>
        </div>
</div>
<div class="container">
    <div class="dropstyle">
    <select name="NURSE" id="selectedvalue">
        <option value="nurse">NURSE</option>
        <option value="doctor">DOCTOR</option>
        <option value="dentist">DENTIST</option>
        <option value="physio">PHYSIO</option>
      </select>
    </div>
    <div class="dropstyle">
        <select name="DOCTOR" id="selecteddropdown">
            <option value="doctor">DOCTOR</option>
            <option value="nurse">NURSE</option>
            <option value="dentist">DENTIST</option>
            <option value="physio">PHYSIO</option>
          </select>
        </div>
</div>



