
.top-right {
    position: absolute;
    top: 120px;
    right: 30px;
  }
  .imagetextstyle{
      font-style: italic;
      position: absolute;
      top: 150px;
      right: 350px;
      left:200px;
      margin-top:3rem;
      padding-left:2rem;
      text-align:center;
  }
  .imageabovetextstyle{
    font-style: italic;
    top: 100px;
    position: absolute;
    right: 500px;
    margin-top:2rem;
    padding-left:2rem; 
    text-align:center;
  }
  .imgstyle{
    height:500px;
    width:100%;
}
.btnstyle{
    padding-left:3rem;
    padding-right:2.7rem;
}

.text{
    padding-left:2.3rem;
    padding-top:3rem
}
.paragraphstyle{
    font-size: large;
    font-style: italic;
}
.dropstyle{
    border:1px solid black;
    padding-top:1rem;
    margin-top:2rem;
    margin-bottom:1rem;
    padding-bottom:1rem;
}
select#selectedvalue {
    border:0px;
    outline:0px;
    width:100%;
}
select#selecteddropdown {
    border:0px;
    outline:0px;
    width:100%
}


