
      <div class="container containerstyle py-3 my-2">
        <section class="p-md-1 mx-md-1" >
        <div style="background-image: url(../../assets/pricing-o-estrategias-de-precios-1.jpg); height:500px;">
          <h2 class="white-text text-center">Pricing Plan</h2>             
                  <h4 class=" white-text center">Everyone has right to qualify affordable dental care close to home</h4>
          </div>
        </section>
      </div>
<div class="container  py-3 my-5 z-depth-1">
  <section class="text-center dark-grey-text">
    <p class="text-muted">Best Doctors: Connect with the Best Dentists in the country to get accurate diagnosis and the best possible treatment options for your condition. 
      No wait time: You do not have to worry about waiting in line at a doctors clinic as the consultation starts exactly at the time chosen by you. 
        Digital records: All your prescriptions from the doctor and medical records are digitized which gives you the convenience of accessing it from just about anywhere and at any time.</p>
    <div class="row">
      <div class="col-lg-4 col-md-4 mb-4" *ngFor="let x of cardDetails">
          <div class="card">
              <div class="card-up">
                <p class="card-header">{{x.cardheader}}</p>
              </div>
              <div class="avatar mx-auto white">
                <img src="../../assets/DentalCare_Hero.jpg" class="rounded-circle img-fluid servicesimg"
                  alt="First sample avatar image">
              </div>
              <div class="card-body">
                <p class="mt-1 mb-3">{{x.specialization}}</p>
              </div>             
        </div>
        <hr>
        <p class= "mt-4 mb-2">{{x.specialization}}</p>
        <a class="btn btn-info  btn-md"  (click)="bookAppointment()">{{x.button}}</a>
      </div>     
    </div>
  </section>
</div>


