
.top-right {
    position: absolute;
    top: 120px;
    right: 30px;
  }

  .imgstyle{
    height:500px;
    width:100%;
}
.btnstyle{
    padding-left:2.7rem;
    padding-right:2.7rem;
}
.img-fluid, .video-fluid {
    max-width: 55%;
    height: auto;
}
.card-up{
margin-bottom: 3rem;
}
@media (min-width: 768px) {
.ml-md-5, .mx-md-5 {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}
}
.containerstyle {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.center {
    float: left;
    width: 400px;
    padding-left:2rem;
    padding-top: 10rem;
    font-weight: bold;;
  }
  .servicesimg {
    max-width: 150px;
    height: 150px;
  }