
.top-right {
    position: absolute;
    top: 120px;
    right: 30px;
  }
  .imagetextstyle{
      font-style: italic;
      position: absolute;
      top: 150px;
      left: 800px;
      margin-top:2rem;
  }
  .buttonstyle{
    position: absolute;
    top: 300px;
    left: 900px;
    margin-top:2rem; 
    padding:1rem 2rem 1rem 2rem;
  }
  .imgstyle{
      height:500px;
      width:100%;
  }
  .paratext{
      margin-top:10px;
  }
  .paragraphtext{
      font-style: italic;
      font-size: 12px;
  }
  .cardimage{
    height:400px;
    width:100%;   
  }
  .sidetext{
      padding-top:5px;
      padding-left:0px;
      color: grey;
  }
  .formstyle
  {
    padding-top:5px;
    padding-left:5px; 
    margin-right:20px; 
  }
  .cardboldtext{
    font-size: 20px;
    font-style: italic;
    padding-left:0px;
    color:grey;
  }
  .fontstyle {
    font-size: 2.2rem;
    margin-bottom:5rem;
  }
  .btnstyle{
      margin-bottom: 2rem;
      margin-top:2rem;
  }
  .btn-info:disabled {
    background-color:lightslategray;
    border-color:lightslategray;
  }
  .btn-success:disabled {
    background-color: lightslategray;
    border-color: lightslategray
  }
  .rgba-black-strong {
    height:500px;
    width:100%; 
    background-color: revert;
}
.columnstyle{
    padding-right: 0px !important;
    padding-left: 0px !important;
}
.center {
  float: right;
  width: 400px;
  padding-left:2rem;
  padding-top: 7rem;
}
.textalign{
  float: right;
  width: 400px;
  padding-left:2rem;
  padding-top: 6rem;
}
.containerstyle {
  width: 100%;
  padding-right: 0px;
  padding-left: 0px;
}
.servicesimg {
  max-width: 150px;
  height: 150px;
}
.bgimage {
  background-image: url(../../assets/1493726850smile-dental-clinic-ahmedabad-1441523539-55ebe753a1553.jpg);
 height:500px;
}

.headlinetext{
 float:right;
 margin-top:7rem;
}
.ptext {
  float:right;
  margin-left:10rem;
  margin-top:10px;
}
.butontext
{
  float:right;
  width:300px;
  margin-left:15rem;
  margin-top:2rem;
  margin-right:3rem;
}
